@import "../../assets/style/variable.scss";

.goSite {
  position: absolute;
  bottom: -100px;
  right: 40px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: $colorLightGreen;
  border: 2px solid #fff;
  font-size: 1.3em;
  background-color: $bgColorBlack;
  a {
    width: 200px;
  }
}
