@import "../../assets/style/variable.scss";

.subPage {
  background-color: $bodyBlack;
  color: #fff;

  .wrapper {
    margin: 0 auto;
    position: relative;

    .subHeadline {
      font-size: 34px;
      font-weight: 700;
      background: url(../../assets/images/yellow-circle.png) no-repeat 50%;
      width: 200px;
      height: 90px;
      line-height: 90px;
      text-align: center;
      text-transform: capitalize;
    }
    h3 {
      position: relative;
    }
    li {
      font-size: 18px;
      line-height: 1.6;
    }

    .prevBtn {
      width: 200px;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      button {
        background-color: transparent;
        cursor: pointer;
        padding: 10px;
        border: none;
        border-right: 1px solid #fff;
        display: grid;
        place-content: center;
        svg {
          transition: 0.3s;
          path {
            fill: #fff;
          }
        }
        &:hover svg {
          transform: translateX(-5px);
        }
      }
      .num {
        margin: 0 auto;
        font-size: 1.6em;
        font-weight: 500;
      }
    }

    section {
      margin-bottom: 100px;
    }

    .section1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      .title {
        h2 {
          font-size: 48px;
          font-weight: 600;
        }
        .aim {
          display: flex;
          margin: 30px 60px 0 0;
          padding: 10px;
          p {
            width: 80px;
            font-size: 20px;
          }
          li {
            font-size: 18px;
            font-weight: 200;
            line-height: 1.7;
            word-break: keep-all;
            list-style: inside lower-roman;
          }
        }
      }
      .skill {
        border: 1px solid #fff;
        width: 300px;
        h3 {
          text-align: center;
          border-bottom: 1px solid #fff;
          padding: 5px;
          font-size: 20px;
        }
        p {
          font-size: 16px;
          line-height: 1.7;
          font-weight: 200;
          padding: 10px;
          &.tool {
            border-top: 1px solid #fff;
          }
        }
      }
    }

    .section2 {
      h3 {
        border-bottom: 1px solid #fff;
        border-top: none;
        padding: 0 10px;
        width: 250px;
        margin: 100px auto 30px;
      }
      .pinkSparkling {
        position: absolute;
        top: 5px;
        right: 10px;
      }
      .description {
        display: flex;
        width: 100%;
        padding-top: 50px;
        .structure {
          img {
            width: 250px;
          }
          figcaption {
            font-weight: 200;
            text-align: left;
          }
        }
        .functions {
          margin-left: 60px;
          ul {
            margin-bottom: 50px;
            li {
              h4 {
                font-size: 20px;
                // text-decoration: underline;
                // margin: 10px 0;
                &:nth-child(1) {
                  margin-top: -7px;
                }
              }
              ul {
                // list-style: inside disc;
                li {
                  font-weight: 200;
                  line-height: 1.7;
                  margin-bottom: 10px;
                  color: #ddd;
                  word-break: keep-all;
                }
              }
            }
          }
        }
      }
    }

    .learned {
      border-top: #fff 1px solid;
      h3 {
        width: 290px;
        font-size: 32px;
        margin-left: auto;
        border: #fff 1px solid;
        border-top: none;
      }
      ol {
        padding-top: 20px;
      }
    }
  }
}
