.greeting {
  border: none;
  margin-bottom: 0;
  .firstTxt {
    width: 150px;
    border-bottom: 2px solid #000;
    text-align: center;
  }
  h2 {
    font-weight: 800;
    text-transform: none;
  }

  p {
    font-weight: 800;
    font-size: 18px;
  }
}
