.projectsSub {
  .prevBtn {
    width: 200px;
    border: 2px solid #000;
    button {
      background-color: transparent;
      cursor: pointer;
      padding: 10px;
      border: none;
      border-right: 2px solid #000;
      svg {
      }
    }
  }
}
