.trapezoid {
  clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 20%);
  border: 1px solid red;
  width: 80px;
  height: 200px;
  background-color: #ddd;
  color: #000;

  span {
    display: block;
    transform: rotate(-90deg) translateX(-80px);
  }
}

.bg {
  width: 88px;
  height: 272px;
  display: grid;
  place-content: center;
  background: url("../assets/images/bg.png") no-repeat 0 0;
  span {
    transform: rotate(270deg);
  }
}
