@import "../assets/style/variable.scss";

.footer {
  width: 65vw;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  .resume {
    background: #222 url(../assets/images/download.png) no-repeat 50% / cover;
    width: 100px;
    height: 70px;
    line-height: 70px;
    color: #fff;
  }
  .footerImg {
    background-color: salmon;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
  }
  .copyRight {
    background-color: #fff;
    width: 250px;
    height: 70px;
  }
}
